{{#location}}
<div class="loc-name">{{name}}</div>
<div>{{address}}</div>
<div>{{address2}}</div>
<div>{{city}}, {{state}} {{postal}}</div>
<div>{{hours1}}</div>
<div>{{hours2}}</div>
<div>{{hours3}}</div>
<div>{{phone}}</div>
<div><a href="http://{{web}}" target="_blank">{{web}}</a></div>
<div><a href="http://{{website}}" target="_blank">{{website}}</a></div>
{{#if origin}}
<div><a href="http://maps.google.com/maps?saddr={{origin}}&amp;daddr={{address}} {{address2}} {{city}}, {{state}} {{postal}}&amp;ll={{ lat }},{{ lng }}&amp;z=13" target="_blank">Get directions</a></div>{{/if}}
{{/location}}
