{{#location}}
<li data-markerid="{{markerid}}">
	<div class="list-label">{{marker}}</div>
	<div class="list-details">
		<div class="list-content">
			<div class="loc-name">{{name}}</div>
			<div class="loc-addr">{{address}}</div> 
			<div class="loc-addr2">{{address2}}</div> 
			<div class="loc-addr3">{{city}}, {{state}} {{postal}}</div> 
			<div class="loc-phone">{{phone}}</div>
			<div class="loc-web"><a href="http://{{website}}" target="_blank">{{website}}</a></div>
			{{#if distance}}<div class="loc-dist">{{distance}} km</div>
			<div class="loc-directions"><a href="http://maps.google.com/maps?saddr={{origin}}&amp;daddr={{address}} {{address2}} {{city}}, {{state}} {{postal}}&amp;ll={{ lat }},{{ lng }}&amp;z=13" target="_blank">Get directions</a></div>{{/if}}
		</div>
	</div>
</li>
{{/location}}
