@import url(https://www.brakequip.com.au/assets/css/screen4.css);

body {
	height:100vh;
}

.full-height {
	height:100% !important;
}

#result-list {
	padding:0;
}

#result-map {
	width: 100%;
	/* height: calc(100vh - 206px); */
  height: 400px;
	padding: 0;
}

#sl_map {
	width: 100%;
  height: 100%;
}



.store_locator_map_infowindow {
	width:auto;
	overflow:hidden !important;
	padding: 0px !important;
	margin: 0px !important;
	color: black !important;
	font-family: arial,sans-serif !important;
}

.infowindow-address {
	white-space: nowrap;
  font-weight: normal;
}

@media (max-width: 575px) {
.store_locator_map_infowindow .col {
    padding: 0;
}
}

/*
Current Location Display
*/
.store_locator_current_location {
	background:#eae9e9;
	padding:5px;
	margin-bottom:10px;
}

/*
Sidebar Customization
*/
.store_locator_sidebar {
	border-bottom:1px solid #dcdcdc;
	margin-bottom: 5px;
}
.store_locator_sidebar_entry {
	padding:20px;
	overflow:hidden;
}
.store_locator_sidebar_entry b, .store_locator_map_infowindow b {
	color: #dc3545;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}
.store_locator_sidebar_entry:hover, .store_locator_sidebar_entry:nth-child(even):hover {
	background: #eee;
	cursor: pointer;
}
.store_locator_sidebar_entry:nth-child(even) {
  background: #fbfbfb;
}
.store_locator_sidebar_entry_distance {
    color: #dc3545;
    float: right;
    font-size: 2em;
    position: absolute;
    right: 30px;
    margin-top: -30px;
}

/*
Pagination Display
*/
.store_locator_pagination {
	width:100%;
	padding:5px;
	/*border-top:1px solid #dcdcdc;*/
}

#topMenu li{list-style:none}
#topMenu{display:block;}
#topMenu ul{overflow:hidden;background:#eae9e9; padding:0px; margin:0px; margin-bottom:10px;}
#topMenu ul li{float:left}
#topMenu ul li a{display:block;padding:11px 10px;text-decoration:none;color:#000;font-size:1.2em;font-weight:bold;line-height:1}
#topMenu ul li a:hover{background:#9e1b34; color:#fff;}
#topMenu ul a.current{background:#9e1b34; color:#fff;}
