body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	background:#ffffff;
	margin:2% 0 0 2%;
}

.container {
	width:100%;
	height:100%;
}

.nav {
	text-align:left;
	float:left;
	width:200px;
	border-right:solid 3px #cccccc;
	padding: 0 20px 20px 20px;
}

.content {
	text-align:left;
	float:left;
	width:64%;
	padding: 0 20px 20px 20px;
}

.logo {
	width:300px;
	margin:0 0 20px 0;
	border:0
}

.navindent {
	padding:20px;
}

.ccheader {
	font-size:20px;
	width:300px;
	margin:-25px 0 20px 350px;
	text-align:center;
}

.cccontent {
	height:100%; 
	width:100%; 
	padding:20px 0 0 0; 
	margin-left:10px;
	font-size:150%;
}

.ccform {
	font-size:150%;
}

.ccformtakenby {
	font-size:120%;
}