html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, 
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
}
:focus {
    outline:0;
}
table {
    border-collapse:separate;
    border-spacing:0;
}
caption, th, td {
    text-align:left;
    font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:"";
}
blockquote, q {
    quotes:"" "";
}
a img { border:none; }
.mod:after, .mod .after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clear {
    clear:both;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.cb {
    clear:both;
}
a:link {
    color:#eb413b;
    text-decoration:none;
}
a:visited {
    color:#eb413b;
    text-decoration:none;	
}
a:hover {
    color:#ff0000;
    text-decoration:underline;
    text-decoration:none;
}
a:active {
    color:#eb413b;
    text-decoration:underline;	
}
.input {
    border:1px inset;
    padding:5px;
}
input.default {
    color:#999;
}
input.submit {
    background:transparent  url('/assets/images/navBtnBg.jpg') repeat-x;
    border:0;
    padding:5px 10px;
    color:#fff;
    border-right:1px solid #900f14;
    border-bottom:1px solid #900f14;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
textarea {
}
input.submit:hover {
    background:#a4060c;
    cursor:pointer;
}

th {
    font-weight:bold;
    width:100px;
}

/**
 * Fonts
*/
@font-face {
    font-family: 'Eau Bold';
    src: url('../fonts/eau_sans_bold_osf-webfont.eot');
    src: url('../fonts/eau_sans_bold_osf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eau_sans_bold_osf-webfont.woff') format('woff'),
         url('../fonts/eau_sans_bold_osf-webfont.ttf') format('truetype'),
         url('../fonts/eau_sans_bold_osf-webfont.svg#EauSansBoldOldstyledFigures') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Eau';
    src: url('../fonts/eau_sans_book_osf-webfont.eot');
    src: url('../fonts/eau_sans_book_osf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eau_sans_book_osf-webfont.woff') format('woff'),
         url('../fonts/eau_sans_book_osf-webfont.ttf') format('truetype'),
         url('../fonts/eau_sans_book_osf-webfont.svg#EauSansBoldOldstyledFigures') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
    background:#ebecf0 url('/assets/images/bg.jpg') top repeat-x;
    font-family: 'Eau';
}
p, div, h1, h2, h3 {
    font-family: 'Eau';
    color:#505050;
    font-size:13px;
	line-height:140%;
}
p {
    padding-bottom:10px;
}
th, td {
    font-family:arial;
}
ul.list {
    margin-top:10px;
}
ul.list li {
    margin:0 0 8px 20px;
}
#container {
    width:1020px;
    margin:0 auto;
}

#topNav {
    height:45px;
}
#topNav ul {
    float:right;
    list-style-type:none;
    margin-right:66px;
}
#topNav li {
    float:left;
}
#topNav h1 {
    color:#a4a4a4;
    font-size:13px;
    float:left;
    margin:14px 0 0 61px;
}
h1 a {
    color:#999 !important;
}
h1 a:hover {
    color:#fff !important;
}
#topNav li a {
    display:block;
    color:#d5d5d5;
    padding:13px 12px 15px 12px;
    font-size:13px;
}
#topNav li a.selected {
    background:#db151d url('/assets/images/navBtnBg.jpg') bottom repeat-x;
    border-left:1px solid #ec2a30;
    padding-left:11px;
    color:#fff;
}
#topNav li a:hover {
    text-decoration:none;
    color:#fff;
}
#topNav a.home {
    padding-top:7px;
}
#topNav a.home {
    padding-top:7px;
}

#innerCotainer {
    background:#fff;
    padding:18px 60px;
}

#mainTop {
    margin-bottom:30px;
	margin-top:10px;
}
#mainTop ul {
    float:right;
    list-style-type:none;
    margin-top:36px;
}
#mainTop li {
    float:left;
}
#mainTop li a {
    padding:0 12px;
    color:#000;
    font-size:14px;
}
#mainTop li a:hover, #mainTop li a.selected {
    color:#ec1e22;
}

#content {
    border:1px solid #e1e1e1;
    min-height:200px;
    padding:15px;
}

#content h2 {
    font-size:18px;
    color:#ed1c24;
    margin-bottom:20px;
}
#content h3 {
    font-size:15px;
    margin-bottom:20px;
    font-weight:bold;
}
#content h4 {
    font-size:15px;
    margin-bottom:5px;
    font-weight:bold;
}

#footer {
    border-top:4px solid #bc272d;
    background:#505050;
    height:100px;
    margin:0 auto;
    width:1020px;
    font-size:13px;
    color:#dedede;
    text-align:center;
}
#footer ul {
    margin:15px auto 10px 15px;
    list-style-type:none;
    width:810px;
}
#footer li {
    float:left;
    padding:0 10px;
}
#footer li a {
    color:#dedede;
}
#footer li a:hover {
    color:#fff;
}


.manufacturerHomeIntro a {
    font-size:18px;
    margin:0 0 0 68px;
}
.manufacturerHomeIntro h2 {
    font-size:30px !important;
    color:#505050 !important;
    margin:0 0 0 68px !important;
}
.manufacturerHomeIntro img {
    display:block;
    margin:10px auto;
}

/** 
  * Panels
 */

/* Red Panel */
.panel.red .title {
    background: transparent url('../images/red_panel_bg.gif') repeat-x;
    height: 39px;
}
.panel.red .title div {
    background: transparent url('../images/red_panel_left.gif') no-repeat;
    height: 39px;
}
.panel.red .title span {
    display: block;
    background: transparent url('../images/red_panel_right.gif') right no-repeat;
    height: 39px;
}
.panel.red .title a {
    color: #fff;
    float: right;
    font-size: 11px;
    text-decoration: none;
    display: block;
    padding: 13px 10px 0 0; 
}
.panel.red .title a:hover {
    text-decoration: underline;
}
.panel .title h4 {
    padding: 13px 0 0 10px;
    margin: 0;
    font-size: 14px;
    color: #fff;
    float: left;
}
.panel .container {
    border-right: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
}
.panel .container .content {
    margin: 0 2px;
    padding: 10px;
    background: #fff url('../images/panel_bg.jpg') repeat-x bottom;
}
.panel .content form p {
    margin: 0;
    padding: 5px 0 8px 0;
    padding-left: 90px; /* width of left column containing the label elements */
    height: 1%;
}
.panel .content form label {
    float: left;
    margin-left: -90px; /* width of left column*/
    width: 80px; /* width of labels. Should be smaller than left column (155px) to create some right margin */
    padding-top: 4px;
}
.panel .content .note {
    font-size: 11px;
    color: #999;
}
.panel .bottom {
    background: transparent url('../images/panel_bottom_bg.gif') repeat-x;
    height: 5px;
}
.panel .bottom div {
    background: transparent url('../images/panel_bottom_left.gif') no-repeat;
    height: 5px;
}
.panel .bottom span {
    display: block;
    background: transparent url('../images/panel_bottom_right.gif') right no-repeat;
    height: 5px;
}
#loginResult {
    width:200px;
}
.success {
    background:#9dffa9;
    color:#00720d;
    border:1px solid #00720d;
    padding:10px;
    margin-bottom:10px;
}
.error {
    background:#ffbfbf;
    color:#a20000;
    border:1px solid #a20000;
    padding:10px;
    margin-bottom:10px;
}
.disclaimer {
    padding-top:20px;
    color:#ccc;
    font-style:italic;
    margin:0 auto;
    width:1020px;
    text-align:center;
}
.disclaimer p {
    font-size:11px !important;
    font-family:arial !important;
}