@import url('catalogue.css');
@import url('style.css');


html {
    font-size:14px;
    max-height: 720px;
    height: 100vh;
    overflow: hidden;
}

@media print {

    @page {
      size: A4 landscape;
      margin-bottom: 7mm;
    }

    /* use width if in portrait (use the smaller size to try
       and prevent image from overflowing page... */
    img { height: 100%; margin: 0; padding: 0; }
}


#mainTop ul {
    display: none;
}

.categoryBreadcrumb {
  width: 100%;
  margin: 0 auto;
  text-align: center !important;
  font-weight: bold;
  text-transform: uppercase;
  /* padding-bottom: 15px; */
  background: none;
  position: relative;
  padding: .75rem 1.25rem;
  margin: 0.5rem 0 1.5rem;
  border: 3px solid #ccc;
  border-radius: .25rem;
}

#hosename {
  position: absolute;
  top: 23px;
  width: 100%;
  text-align: right;
  font-size: 24px;
}

#hosename div {
    max-width: 100% !important;
    flex: 0 0 100%;
}

#hoseimg {
    width: 90%;
    margin: 0 auto;
}

#hoseimg svg {
    max-height: 250px;
}

.categoryBreadcrumb ul {
    display: inline-block;
}

.categoryBreadcrumb ul > li:first-child {
    display: none;
}

.navbg {
    display: none;
}

#innerCotainer {
    margin-top: 50px;
}

#catalogueSearch {
    display: none;
}

.toolbar {
    display: none;
}

.mod {
}

#catalogueContact {
    display: none;
}


#innerCotainer {
    min-width: 100%;
    padding: 0;
    margin-top: 0;
    height: 100vh;
}





---

#mainTop {
    /* position: absolute; */
    /* top: 0; */
}

.categoryBreadcrumb li a {
    color: #333 !important;
    font-size: 1.25rem;
    padding: 0 0 0 5px;
}

.categoryBreadcrumb a::after {
    content: " > ";
    font-weight:normal;
}

#content h2 {
    font-size: 2rem;
    margin: 0;
    display: none;
}

#part table th {
    border-bottom: 1px solid #777;
}



#part table th, #part table td {
    padding: 0px 0;
}

.alert.alert-danger {
    font-weight: bold;
    /* margin: -25px 0; */
    border: 2px solid;
    width: 100%;
}


#footer {
    border: 0;
    padding: 0;
    display: none;
}

#printfooter {
  display: block !important;
  font-size: 0.9rem;
}

.disclaimer {
    display: none;
}



#container {
    display: none;
}

#mainTop {
    margin: 0;
}

#printbottomtext {
    position: fixed;
    padding: 0 25px;
    margin: 0 -25px;
    bottom: 0;
    width: 100%;
}

#content {
  border: 0px;
}
