html {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */  
  }

#catalogue h2 {
    color:#000;
}
#catalogue h2 span {
}

#part .toolbar {
    margin: 20px 0 30px;
    line-height:34px;
}
#part .toolbar a {
    position:absolute;
    color:#505050;
    display:block;
}
a.print {
    background:transparent url('../images/printIcon.jpg') no-repeat 0% 5%;
    padding-left:45px;
    display:block;
    height:30px;
    color:#505050;
    text-decoration:none;
}
#part .toolbar a.backOneLevel {
    margin-left:380px;
    background:transparent url('../images/backOneLevelIcon.jpg') no-repeat 0% 50%;
    padding-left:15px;
}
#part .toolbar form {
    float:right;
}
a.backOneLevel {
    background:transparent url('../images/backOneLevelIcon.jpg') no-repeat 0% 50%;
    padding-left:15px;
    color:#505050;
    display:block;
}
#part .partImage {
    border: 4px solid #e1e1e1;
    padding: 5px;
    width:850px;
    text-align:center;
    margin-bottom:20px;
}
#part h2 {
    color: #000;
}
#part table th, #part table td {
    padding: 7px 0;
    /* vertical-align: top; */
}
#part table th {
    width: 150px;
}
#part td {
}
#part .warning {
    border: 1px solid #ffb5bb;
    background: #ffedee;
    color: #eb3e4a;
    padding: 10px;
    font-weight: bold;
    width: 646px;
}
a.btn span {
    background: #ed1b24;
    display: block;
    color: #fff;
    padding: 7px;
    text-align:center;
}
a.btn span:hover {
    background: #e6110a;
}

div, p {
}
.dropdown-container {
    background: #f7f7f7 url('../images/dropdown_bg.png') bottom repeat-x;
    padding: 15px;
    height: 150px;
}
.dropdown-container p {
    color: #262626;
    font-weight: bold;
    padding: 0 !important;
    margin: 0 0 10px 0 !important;
}
select {
    height: 30px;
    padding: 5px;
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    color: #000;
    font: 12px arial;
    margin: 0;
    min-width: 150px;
}
option {
    padding: 10px;
}

.input {
    padding: 4px;
}

.categoryBreadcrumb.viewImage {
    background:#666;
    width:600px;
    margin:0 auto;
    height:auto;
}
.categoryBreadcrumb.viewImage ul li {
    background:none;
    padding:10px;
    height:auto;
    color:#fff;
}
.categoryBreadcrumb.viewImage ul {
    margin:0;
    padding:0;
}

.categoryBreadcrumb {
    background: #ed1b24;
}

.categoryBreadcrumb ul li {
    list-style-type:none;
}
.categoryBreadcrumb ul li {
    float: left;
    background: transparent url('../images/categoryBreadcrumbSep.png') right no-repeat;
}
.categoryBreadcrumb li a {
    display:block;
    color:#fff;
    padding: 10px 30px 10px 15px;
}
.categoryBreadcrumb ul li a:hover {
    background: #eb413b url('../images/categoryBreadcrumbSep.png') right no-repeat;
}

.categoryBreadcrumb li a:visited {
    color:#fff;
}

table#fittings th, #dimensions thead th {
    width: 190px !important;
    background: #f2f2f2;
    padding: 5px;
}
table#fittings td, table#dimensions td {
    padding: 5px;
}

#dimensions tbody th {
    width: 160px;
    background:none;
    padding-bottom:0 !important;
    padding:5px;
}

.warning {
    background:#ffedef;
    padding:10px;
    border:1px solid #feb5bc;
    color:#eb1c24;
    width:540px;
}

#printbottomtext {
    text-align: center;
}
