/* Gallery */
#gallery .image {
    padding-right: 25px;
    float: left;
}
#gallery .image img.file {
    padding:2px;
    border:1px solid #ccc;
}
#gallery .image img.file:hover {
    border:1px solid #666;
}
#gallery .dl {
    margin: 10px 0;
    text-align: center;
}

ul.links {
    margin-bottom:10px;
}
ul.links {
    float:right;
    list-style-type:none;
}
ul.links li {
    float:left;
}
ul.links li a {
    padding:0 12px;
    color:#000;
    font-size:14px;
}
ul.links li a:hover, ul.links li a.selected {
    color:#ec1e22;
}
