#store-locator-container{
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #333;
}
.all-manufacturers {
    float: right;
    font-size: 14px;
    margin-top: 10px;
}
#form-container{
    width: 100%;
}

#map-container{
    margin-top: 15px;
    width: 100%;
}

#map-container a{
    /* color: #e76737; */
    text-decoration: none;
}

#map-container a:hover, #map-container a:active{
    text-decoration: underline;
}

#map-container .custom-marker{
    width: 32px;
    height: 37px;
    color: #fff;
    background: url(../images/custom-marker.png) no-repeat;
    padding: 3px;
    cursor: pointer;
}

#loc-list{
//    height: 530px;
    overflow: auto;
}

#loc-list ul{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#loc-list .list-label{
    display: inline-block;
    margin: 10px 0 0 6px;
    padding: 2px 3px;
    width: 17px;
    text-align: center;
    background: #d61920;
    color: #fff;
    font-weight: bold;
    vertical-align: top;
}

#loc-list .list-details{
    display: inline-block;
    margin-left: 6px;
    width: 790px;
}

#loc-list .list-content{
    padding: 10px;
}

.loc-addr, .loc-addr2, .loc-addr3, .loc-phone {
    line-height:25px;
}

#loc-list .loc-dist{
    font-style: italic;
    color: #c0c0c0;
    font-size: 2em;
    top: 28px;
    position: absolute;
    right: 25px;
}

#loc-list li{
    position: relative;
    display: block;
    cursor: pointer;
    border-bottom: 1px dotted #666;
    padding: 10px 10px 5px;
}

#loc-list .list-focus{
    transition: 0.2s;
    background: #f1f1f1 !important;
}

#map-container .loc-name{
    color: #AD2118;
    font-weight: bold;
}

#search-form{
    clear: left;
    float: left;
    height: 60px;
}

#form-input{
    float: left;
    margin-top: 3px;
    width: 100%;
}

#form-input label{
    font-weight: bold;
}

#form-input input{
    padding: 4px;
    line-height: 16px;
    border: 1px solid #ccc;
}

#address{
    padding: 7px;
    width: 85%;
    margin: 15px 33px 0 0;
}


#loading-map{
    float: left;
    margin: 4px 0 0 10px;
    width: 16px;
    height: 16px;
    background: url(../images/ajax-loader.gif) no-repeat;
}

#map{
    width: 100%;
    height: 350px;
}

/* Infowindow Roboto font override */
.gm-style div, .gm-style span, .gm-style label, .gm-style a{
    font-family: Arial, Helvetica, sans-serif;
}

/* Modal window */

#overlay{
    position: fixed;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    z-index: 10000;
    background: url(../images/overlay-bg.png) repeat;
}

#modal-window{
    position: absolute;
    left: 50%;
    margin-left: -460px; /* width divided by 2 */
    margin-top: 60px;
    width: 920px;
    height: 590px;
    z-index: 10010;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #656565;
}

#modal-content{
    float: left;
    padding: 0 22px; /* there's already a margin on the top of the map-container div */
}

#close-icon{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background: #2c2c2c url(../images/close-icon.png) 3px 3px no-repeat;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 0 0 3px #656565;
}


/* The following is for the geocode page and not the store locator */

#geocode-result{
    clear: left;
    float: left;
    margin-top: 30px;
    width: 100%;
}
.loc-directions {
    right: 25px;
    position: absolute;
    top: 67px;
}
.loc-directions a {
    /* background:transparent  url('/assets/images/navBtnBg.jpg') repeat-x; */
    /* border:0; */
    /* padding:5px 10px; */
    /* color:#fff !important; */
    /* border-right:1px solid #900f14; */
    /* border-bottom:1px solid #900f14; */
    /* -moz-border-radius: 5px; */
    /* border-radius: 5px; */
}
