/* Distributor */
#sidebar {
    float: left;
    width: 270px;
    height: 400px;
    overflow: auto;
    padding-right: 15px;
}
#map {
    overflow: hidden;
    width: 559px;
    height: 400px;
    font-weight: normal;
}
#sidebar .location {
    clear: both;
    height: 95px;
    border-bottom: 1px solid #cfcfcf;
    padding:10px 0 20px 0;
    cursor: pointer;
}

#sidebar .location:hover {
    background-color: #F2F2F2;
}
strong {
    font-weight: normal;
}

#locationValue {
    font-weight: normal;
    text-transform:uppercase;
}

#sidebar .location .icon {
    height: 32px;
    width: 30px;
    color: #fff;
    font-weight: normal;
    text-align: center;
    background: transparent url('../images/map_marker.gif') no-repeat;
    padding-top: 6px;
    float: left;
}
#sidebar .location .info {
    margin-left: 45px;
}
#sidebar .location .km {
    color: #8c8c8c;
    display: block;
    font-size: 11px;
}
#sidebar .location .address {
    color: #848484;
}