/* Distributor */
#sidebar {
    float: left;
    width: 100%;
    height: 400px;
    overflow: auto;
    padding-right: 15px;
    margin-top: 5px;
    background: none;
}
#map {
    overflow: hidden;
    width: 100%;
    height: 400px;
    font-weight: normal;
}
#sidebar .location {
    clear: both;
    height: 105px;
    border-bottom: 1px solid #cfcfcf;
    padding: 10px 25px 20px 25px;
    cursor: pointer;
    background: none;
}

#sidebar .location:hover {
    background-color: #F2F2F2;
}
strong {
    font-weight: normal;
}

#locationValue {
    font-weight: normal;
    text-transform:uppercase;
}

#sidebar .location .icon {
    height: 32px;
    width: 30px;
    color: #fff;
    font-weight: normal;
    text-align: center;
    background: transparent url('../images/map_marker.gif') no-repeat;
    padding-top: 6px;
    margin-top: 13px;
    float: left;
}
#sidebar .location .info {
    margin-left: 45px;
}

#sidebar .location .info strong {
    line-height: 40px;
}
 
#sidebar .location .km {
    color: #ccc;
    display: block;
    font-size: 30px;
    float: right;
    background: none;
}
#sidebar .location .address {
    color: #848484;
}   

#sidebar .location .info {
	background:none;
}