#orderProductsContainer {
    font-size: 14px;
}

#orderProducts {
    float:left;
    /* width:600px; */
    /*    margin-right:20px;*/
}
#orderProducts table th {
    width:120px;
}
#orderProductsSlider {
    /* width:600px; */
    position:relative;
    margin-bottom:20px;
}
#slider {
    /* width:600px; */
    background:#505050;
}
#listHeader {
    /* width:600px; */
    background:#e1e1e1;
    padding: 10px;
    /* margin-bottom:5px; */
}
#orderProductsSlider ul li {
    float:left;
    list-style-type:none;
}
ul.sliderNav a {
    display:block;
    color:#dedede;
    padding:10px !important;
}
ul.sliderNav a:hover {
    color:#fff;
}
ul.sliderNav a.selected {
    color:#505050;
    background:#e1e1e1 url('../images/sliderNavBg.gif') repeat-x top;
    border-right:1px solid #2e2e2e;
    border-bottom:0px;
    border-top:2px solid red;
    margin-top:-2px;
    margin-right:-1px;
}


.list ul.head li {
    /* padding:5px; */
}

.panel .row {
    border-bottom:1px dotted #ccc;
    padding: 5px;
}

#partrow {
    background: #fff;
}

#partrow:hover {
    background: #f6f6f6;
}
/* .row div {
    float:left;
    padding:0 5px;
}*/
#orderProducts .col1 {
    width:110px;
}
#orderProducts .col2 {
    width:252px;
}
#orderProducts .col3 {
    width:133px;
}

input.qty {
    text-align:center;
}

.scroll {
    /* height: 350px; */
    /* width: 600px; */
    position: relative;
    clear: left;
    overflow-x: hidden;
}

.scrollContainer div.panel {
    overflow: auto;
    /* height:350px; */
    overflow-x: hidden;
    width: 649px;
}

/* Live Order */
#liveOrderContainer {
  position: sticky;
  top: 15px;
  height: 100%;
}
#liveOrder h3 {
    padding:10px;
    color:#fff;
    background:#ed1b24;
    margin-bottom:0;
}
#liveOrder ul.head {
    background:#e1e1e1;
}
#liveOrder ul li {
    list-style-type:none;
    float:left;
    padding:5px;
}
/* #liveOrder .col1 {
    width:4px;
}
#liveOrder .col2 {
    width:90px;
}
#liveOrder .col3 {
    width:30px;
}
#liveOrder .col4 {
    width:58px;
} */
#liveList {
  overflow: scroll;
  height: 500px;
  overflow-x: hidden;
}

.poinfo {
  background: #fff;
  bottom: 0;
  position: fixed;
}

#totals {
  padding: 22px 0;
  font-size: 1.1rem;
}

.checkoutBtn {
    border:0;
    display:block;
    background:#ed1b24;
    padding:18px;
    color:#fff;
}
.checkoutBtn:hover {
    background:#a4060c;
    cursor:pointer;
}

.detailPanel {
    float:left;
    width:200px;
    margin-right:11px;
    border:1px solid #ccc;
    padding:2px;
}
.detailPanel h3 {
    background:#505050;
    padding:5px;
    color:#fff;
    margin-bottom:2px !important;
    font-weight:normal !important;
}
.detailPanel div {
    padding:5px;
    min-height:60px;
    height:60px;
}
textarea {
}

.orderdetails {
    padding: 5px 0;
}

.ordersummary div {
  background: #555;
  font-weight: bold;
  color: #fff !important;
  padding: 5px 15px;
}


#partsOrdered {
    margin-top: 20px;
}
#partsOrdered h3 {
    margin-bottom:10px !important;
    border-bottom:1px dotted #999;
    padding-bottom:10px;
}
#partsOrdered table td, #partsOrdered table th {
    padding:5px;
}
#partsOrdered table th {
    background:#505050;
    color:#fff;
}

#cartTotal {
    color:#ED1C24;
    text-align: right;
    right: 0;
    float: right;
    margin-top: -8px;
}
.submitOrder {
    border:0;
    display:block;
    background: rgb(0, 110, 0);
    padding: 19px;
    color:#fff;
    cursor: pointer;
    text-transform:uppercase;
    letter-spacing: 1px;
}
.orderButton {
    border:0;
    display:block;
    background:#ed1b24;
    padding:5px;
    color:#fff;
    width:120px;
    margin-bottom:2px;
    margin-left:10px;
    cursor: pointer;
}

.editorderButton {
    border:0;
    display:block;
    background: rgb(237, 119, 27);
    padding:5px;
    color:#fff;
    width:120px;
    margin-bottom:2px;
    margin-left:10px;
    cursor: pointer;
}

.submitOrder:hover  {
    background: rgb(0, 080, 0);
    cursor: pointer;
}

.orderButton:hover {
    background: #a4060c;
    cursor: pointer;
}

.editorderButton:hover {
    background: rgb(237, 94, 27);
    cursor: pointer;
}
