@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
}
:focus {
    outline:0;
}
table {
    border-collapse:separate;
    border-spacing:0;
}
caption, th, td {
    text-align:left;
    font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:"";
}
blockquote, q {
    quotes:"" "";
}
a img { border:none; }
.mod:after, .mod .after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clear {
    clear:both;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.cb {
    clear:both;
}
a:link {
    color:#eb413b;
    text-decoration:none;
}
a:visited {
    color:#eb413b;
    text-decoration:none;
}
a:hover {
    color:#ff0000;
    text-decoration:underline;
    text-decoration:none;
}
a:active {
    color:#eb413b;
    text-decoration:underline;
}
.input {
    border:1px inset;
    padding:5px;
}
input.default {
    color:#999;
}
input.submit {
    background:transparent  url('/assets/images/navBtnBg.jpg') repeat-x;
    border:0;
    padding:5px 10px;
    color:#fff;
    border-right:1px solid #900f14;
    border-bottom:1px solid #900f14;
    -moz-border-radius: 5px;
    border-radius: 5px;
    top: -1px;
	position: relative;
}
textarea {
}
input.submit:hover {
    background:#a4060c;
    cursor:pointer;
}

th {
    font-weight:bold;
    width:100px;
}

#contact {
	width: 380px;
	min-height: 300px;
	display: inline-block;
	float: right;
    padding: 20px;
    background-color: #f8f8f8;
}

#contact .input {
    background: #fff;
}

#contact-enquiry-bar {
    background-color: #f8f8f8;
    margin-bottom: 30px;
    text-align: right;
    border: 5px solid #ccc;
}

#contact-enquiry-bar span {
    width: 75%;
    text-align: center;
    display: inline-block;
    padding: 20px 0 30px;
}

#enquiry {}
#enquiry li {list-style-type: none; padding:10px 0; }

#enquiry li input {
    width: 300px;
}

#typeof li input {
    width: auto;
    margin-right: 20px;
}

#typeof li {
    padding: 0;
}

#general {
	float: right !important;
}

#contact-choice {
	margin-bottom: 20px;
}


#contact-choice h3 {
	margin: 10px 0 !important;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.red {
    color: #fff !important;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.red:hover {
	background-color: #ba1800;
}

#contact-choice .default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    cursor: default !important;
}


#contact-select {
	float: left;
}

#contact ul {
    padding: 0;
    list-style: none;
}

#contact li {
    /* Control leading between rows. */
    padding-bottom: 2em;
}

#contact ul li label {
    float: left;
    width: 10em;
    margin-right: 1em;
    padding-top: 7px;
}

#typeof {
    display: inline-block;
    margin-right: 70px;
    padding: 0 !important;
}

#typeof label {
    padding-top: 1px !important;
}

#typeof li {
padding-bottom: 0;
}

#typeof input {
    width:40px;
    margin-bottom: 14px;
}

span#submit {
    text-align: center;
    padding: 30px 0;
    width: 100%;
    display: inline-block;
}

.contact-machine {
	height: 290px;
    float: left;
    position: absolute;
    margin-top: -90px;
    margin-left: -330px;
}

input[type="text"], input[type="url"], input[type="email"], input[type="tel"], textarea {
	/* background: #F4F4F4; */
	/* background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…B5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c5ODApIiAvPgo8L3N2Zz4=); */
	/* background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#F4F4F4)); */
	/* background: -moz-linear-gradient(top, #ffffff, #F4F4F4); */
	/* border: 1px solid #C2C1C2; */
	/* -moz-border-radius: 3px; */
	/* -webkit-border-radius: 3px; */
	/* border-radius: 3px; */
	/* color: #5E5E5E; */
	/* font-size: 13px; */
	/* padding:5px; */
	/* width: 160px; */
}

/**
 * Fonts
*/
@font-face {
    font-family: 'Eau Bold';
    src: url('../fonts/eau_sans_bold_osf-webfont.eot');
    src: url('../fonts/eau_sans_bold_osf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eau_sans_bold_osf-webfont.woff') format('woff'),
         url('../fonts/eau_sans_bold_osf-webfont.ttf') format('truetype'),
         url('../fonts/eau_sans_bold_osf-webfont.svg#EauSansBoldOldstyledFigures') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Eau';
    src: url('../fonts/eau_sans_book_osf-webfont.eot');
    src: url('../fonts/eau_sans_book_osf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eau_sans_book_osf-webfont.woff') format('woff'),
         url('../fonts/eau_sans_book_osf-webfont.ttf') format('truetype'),
         url('../fonts/eau_sans_book_osf-webfont.svg#EauSansBoldOldstyledFigures') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
    background:#ebecf0 url('/assets/images/bg.jpg') top repeat-x;
    background-color: #ebecf0 !important;
    font-family: 'Open Sans', sans-serif;
}
p, div, h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
    color:#505050;
    font-size:13px;
	line-height:140%;
}
p {
    padding-bottom:10px;
}
th, td {
    font-family:arial;
}
ul.list {
    margin-top:10px;
}
ul.list li {
    margin:0 0 8px 20px;
}
#container {
    width:1020px;
    margin:0 auto;
}

#topNav {
    height:45px;
}
#topNav ul {
    float:right;
    list-style-type:none;
    margin-right:66px;
}
#topNav li {
    float:left;
}
#topNav h1 {
    color:#a4a4a4;
    font-size:13px;
    float:left;
    line-height: 3.5em !important;
}
h1 a {
    color:#999 !important;
}
h1 a:hover {
    color:#fff !important;
}
#topNav li a {
    display:block;
    color:#d5d5d5;
    padding:13px 12px 15px 12px;
    font-size:13px;
}
#topNav li a.selected {
    background:#db151d url('/assets/images/navBtnBg.jpg') bottom repeat-x;
    border-left:1px solid #ec2a30;
    padding-left:11px;
    color:#fff;
}
#topNav li a:hover {
    text-decoration:none;
    color:#fff;
}
#topNav a.home {
    padding-top:7px;
}
#topNav a.home {
    padding-top:7px;
}

#innerCotainer {
    background:#fff;
    padding:18px 60px;
}

#mainTop {
    margin-bottom:30px;
	margin-top:10px;
}
#mainTop ul {
    float:right;
    list-style-type:none;
    margin: 20px 0;
}
#mainTop li {
    float:left;
}
#mainTop li a {
    padding:0 12px;
    color:#000;
    font-size:14px;
}
#mainTop li a:hover, #mainTop li a.selected {
    color:#ec1e22;
}

#content {
    border:1px solid #e1e1e1;
    min-height:450px;
    padding:15px;
}

#content h2 {
    font-size:18px;
    color:#ed1c24;
    margin-bottom:20px;
}
#content h3 {
    font-size:15px;
    margin-bottom:20px;
    font-weight:normal;
}
#content h4 {
    font-size:15px;
    margin-bottom:5px;
    font-weight:bold;
}

#footer {
    border-top:4px solid #bc272d;
    background:#505050;
    height:100px;
    margin:0 auto;
    width:1020px;
    font-size:13px;
    color:#dedede;
    text-align:center;
}
#footer ul {
    margin:15px auto 10px auto;
    list-style-type:none;
    width:750px;
}
#footer li {
    float:left;
    padding:0 10px;
}
#footer li a {
    color:#dedede;
}
#footer li a:hover {
    color:#fff;
}


.manufacturerHomeIntro a {
    font-size:18px;
    margin:0 0 0 68px;
}
.manufacturerHomeIntro h2 {
    font-size:30px !important;
    color:#505050 !important;
    margin:0 0 0 68px !important;
}
.manufacturerHomeIntro img {
    display:block;
    margin:10px auto;
}

/**
  * Panels
 */

/* Red Panel */
.panel.red .title {
    background: transparent url('../images/red_panel_bg.gif') repeat-x;
    height: 39px;
}
.panel.red .title div {
    background: transparent url('../images/red_panel_left.gif') no-repeat;
    height: 39px;
}
.panel.red .title span {
    display: block;
    background: transparent url('../images/red_panel_right.gif') right no-repeat;
    height: 39px;
}
.panel.red .title a {
    color: #fff;
    float: right;
    font-size: 11px;
    text-decoration: none;
    display: block;
    padding: 13px 10px 0 0;
}
.panel.red .title a:hover {
    text-decoration: underline;
}
.panel .title h4 {
    padding: 13px 0 0 10px;
    margin: 0;
    font-size: 14px;
    color: #fff;
    float: left;
}
.panel .container {
    border-right: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
}
.panel .container .content {
    margin: 0 2px;
    padding: 10px;
    background: #fff url('../images/panel_bg.jpg') repeat-x bottom;
}
.panel .content form p {
    margin: 0;
    padding: 5px 0 8px 0;
    padding-left: 90px; /* width of left column containing the label elements */
    height: 1%;
}
.panel .content form label {
    float: left;
    margin-left: -90px; /* width of left column*/
    width: 80px; /* width of labels. Should be smaller than left column (155px) to create some right margin */
    padding-top: 4px;
}
.panel .content .note {
    font-size: 11px;
    color: #999;
}
.panel .bottom {
    background: transparent url('../images/panel_bottom_bg.gif') repeat-x;
    height: 5px;
}
.panel .bottom div {
    background: transparent url('../images/panel_bottom_left.gif') no-repeat;
    height: 5px;
}
.panel .bottom span {
    display: block;
    background: transparent url('../images/panel_bottom_right.gif') right no-repeat;
    height: 5px;
}
#loginResult {
    width:200px;
}
.success {
    background:#9dffa9;
    color:#00720d;
    border:1px solid #00720d;
    padding:10px;
    margin-bottom:10px;
}
.error {
    background:#ffbfbf;
    color:#a20000;
    border:1px solid #a20000;
    padding:10px;
    margin-bottom:10px;
}
.disclaimer {
    padding-top:20px;
    color:#ccc;
    font-style:italic;
    margin:0 auto;
    width:1020px;
    text-align:center;
}
.disclaimer p {
    font-size:11px !important;
    font-family:arial !important;
}


html, body, p, div, h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

#container, #footer {
  width: auto !important;
    height:auto;
}

#innerCotainer, #topNav, #footer{
  max-width: 1140px;
  margin: 0 auto;
}

.alert-success {
  position: absolute;
  z-index: 10;
  font-size: 14px;
  width: 250px !important;
  margin-top: -1px;
}

h1#finding {
    font-size: 2rem;
}

#manufactrerinfo, #partfinder, #findmanu {
  padding-bottom: 40px;
}

@media (min-width: 576px) {
.mobLogo {
    display:none;
}
nav.navbar a {
    color: #e8e8e8 !important;
}
nav.navbar {
    background-color:transparent !important;
    float:right;
}
}

input#formContact {
  width: 100% !important;
}

@media (max-width: 576px) {
#innerCotainer {
    padding: 180px 0;
}
.mainlogo, #loginbox {display:none;}

.mobLogo {
    height: 35px !important;
  }
  a.nav-item.nav-link {
    text-align: center;
  }
  h1#finding {
      font-size: 1.5rem;
      line-height: initial;
  }
  #loc-list .loc-dist, #loc-list .loc-directions {
      position: inherit !important;
    }
}

@media (max-width:991px) {
#topNav h1 {
  display:none;
}
}

input#manufacturer:focus {
    box-shadow: none;
    border: 1px solid #ced4da;
}

input#manufacturer {
    padding-left: 10px;
}

.mainlogo {
    width: 225px;
    padding-top: 5px;
}

@media (min-width: 576px) {
.navbar-expand-sm .navbar-nav .nav-link {
    padding: 1em;
}
}

.navbg {
  background: #505050;
  border-bottom: 5px solid #bc252d;
  height: 58px;
}

.nav-link:hover {
    background: #373737;
}

#footer {
    padding: 20px 0 35px;
}
