@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-family:-apple-system,BlinkMacSystemFont, 'Open Sans', Arial, sans-serif !important;
    vertical-align:baseline;
}

:focus {
    outline:0;
}
table {
    border-collapse:separate;
    border-spacing:0;
}
caption, th, td {
    text-align:left;
    font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:"";
}
blockquote, q {
    quotes:"" "";
}
a img { border:none; }
.mod:after, .mod .after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clear {
    clear:both;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.cb {
    clear:both;
}
a:link {
    color:#eb413b;
    text-decoration:none;
}
a:visited {
    color:#eb413b;
    text-decoration:none;
}
a:hover {
    color:#ff0000;
    text-decoration:underline;
    text-decoration:none;
}
a:active {
    color:#eb413b;
    text-decoration:underline;
}
.input {
    border:1px inset;
    padding:5px;
}
input.default {
    color:#999;
}
input.submit {
    background:transparent  url('/assets/images/navBtnBg.jpg') repeat-x;
    border:0;
    padding:5px 10px;
    color:#fff;
    border-right:1px solid #900f14;
    border-bottom:1px solid #900f14;
    -moz-border-radius: 5px;
    border-radius: 5px;
    top: -1px;
	position: relative;
}
textarea {
}
input.submit:hover {
    background:#a4060c;
    cursor:pointer;
}

th {
    font-weight:bold;
    width:100px;
}

#contact {
	width: 380px;
	min-height: 300px;
	display: inline-block;
	float: right;
    padding: 20px;
    background-color: #f8f8f8;
}

#contact .input {
    background: #fff;
}

#contact-enquiry-bar {
    background-color: #f8f8f8;
    margin-bottom: 30px;
    text-align: right;
    border: 5px solid #ccc;
}

#contact-enquiry-bar span {
    width: 75%;
    text-align: center;
    display: inline-block;
    padding: 20px 0 30px;
}

#enquiry {}
#enquiry li {list-style-type: none; padding:10px 0; }

#enquiry li input {
    width: 300px;
}

#typeof li input {
    width: auto;
    margin-right: 20px;
}

#typeof li {
    padding: 0;
}

#general {
	float: right !important;
}

#contact-choice {
	margin-bottom: 20px;
}


#contact-choice h3 {
	margin: 10px 0 !important;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;

    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.red {
    color: #fff !important;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.red:hover {
	background-color: #ba1800;
}

#contact-choice .default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    cursor: default !important;
}


#contact-select {
	float: left;
}

#contact ul {
    padding: 0;
    list-style: none;
}

#contact li {
    /* Control leading between rows. */
    padding-bottom: 2em;
}

#contact ul li label {
    float: left;
    width: 10em;
    margin-right: 1em;
    padding-top: 7px;
}

#typeof {
    display: inline-block;
    margin-right: 70px;
    padding: 0 !important;
}

#typeof label {
    padding-top: 1px !important;
}

#typeof li {
padding-bottom: 0;
}

#typeof input {
    width:40px;
    margin-bottom: 14px;
}

span#submit {
    text-align: center;
    padding: 30px 0;
    width: 100%;
    display: inline-block;
}

.contact-machine {
	height: 290px;
    float: left;
    position: absolute;
    margin-top: -90px;
    margin-left: -330px;
}

body {
    background-color: #ebecf0 !important;
}
p, div, h1, h2, h3 {
	color:#505050;
	line-height:140%;
}
p {
    padding-bottom:10px;
}

ul.list {
    margin-top:10px;
}
ul.list li {
    margin:0 0 8px 20px;
}
#container {
    width:1020px;
    margin:0 auto;
}

#topNav {
    height:45px;
}
#topNav ul {
    float:right;
    list-style-type:none;
    margin-right:66px;
}
#topNav li {
    float:left;
}
#topNav h1 {
    color:#a4a4a4;

    float:left;
    line-height: 3.5em !important;
}
h1 a {
    color:#999 !important;
}
h1 a:hover {
    color:#fff !important;
}
#topNav li a {
    display:block;
    color:#d5d5d5;
    padding:13px 12px 15px 12px;

}
#topNav li a.selected {
    background:#db151d url('/assets/images/navBtnBg.jpg') bottom repeat-x;
    border-left:1px solid #ec2a30;
    padding-left:11px;
    color:#fff;
}
#topNav li a:hover {
    text-decoration:none;
    color:#fff;
}
#topNav a.home {
    padding-top:7px;
}
#topNav a.home {
    padding-top:7px;
}

#innerCotainer {
    background:#fff;
    padding:18px 60px;
}

#mainTop {
    margin-bottom:30px;
	margin-top:10px;
}
#mainTop ul {
    float:right;
    list-style-type:none;
    margin: 20px 0;
}
#mainTop li {
    float:left;
}
#mainTop li a {
    padding:0 12px;
    color:#000;

}
#mainTop li a:hover, #mainTop li a.selected {
    color:#ec1e22;
}

#content {
    border:1px solid #e1e1e1;
    min-height:450px;
    padding:15px;
}

#content h2 {
    font-size:18px;
    color:#ed1c24;
    margin-bottom:20px;
}
#content h3 {
    font-size:15px;
    margin-bottom:20px;
    font-weight:normal;
}
#content h4 {
    font-size:15px;
    margin-bottom:5px;
    font-weight:bold;
}

#footer {
    border-top:4px solid #bc272d;
    background:#505050;
    height:100px;
    margin:0 auto;
    width:1020px;

    color:#dedede;
    text-align:center;
}
#footer ul {
    margin:15px auto 10px auto;
    list-style-type:none;
    width:750px;
}
#footer li {
    float:left;
    padding:0 10px;
}
#footer li a {
    color:#dedede;
}
#footer li a:hover {
    color:#fff;
}

#loginResult {
    width:200px;
}
.success {
    background:#9dffa9;
    color:#00720d;
    border:1px solid #00720d;
    padding:10px;
    margin-bottom:10px;
}
.error {
    background:#ffbfbf;
    color:#a20000;
    border:1px solid #a20000;
    padding:10px;
    margin-bottom:10px;
}
.disclaimer {
    padding-top:20px;
    color:#ccc;
    font-style:italic;
    margin:0 auto;
    width:1020px;
    text-align:center;
}
.disclaimer p {
    font-size:11px !important;
}

#container, #footer {
  width: auto !important;
    height:auto;
}

#innerCotainer, #topNav, #footer{
  max-width: 1140px;
  margin: 0 auto;
}

.alert-success {
  position: absolute;
  z-index: 10;

  width: 250px !important;
  margin-top: -1px;
}

h1#finding {
    font-size:2rem;
}

#manufactrerinfo, #partfinder, #findmanu {
  padding-bottom: 40px;
}

@media (min-width: 576px) {
.mobLogo {
    display:none;
}
nav.navbar a {
    color: #e8e8e8 !important;
}
nav.navbar {
    background-color:transparent !important;
    float:right;
}
}

input#formContact {
  width: 100% !important;
}

@media (max-width: 576px) {
#innerCotainer {
    padding: 180px 0;
}
.mainlogo, #loginbox {display:none;}

.mobLogo {
    height: 35px !important;
  }
  a.nav-item.nav-link {
    text-align: center;
  }
  h1#finding {
      font-size:1.5rem;
      line-height: initial;
  }
  #loc-list .loc-dist, #loc-list .loc-directions {
      position: inherit !important;
    }
}

@media (max-width:991px) {
#topNav h1 {
  display:none;
}
}

input#manufacturer:focus {
    box-shadow: none;
    border: 1px solid #ced4da;
}

input#manufacturer {
    padding-left: 10px;
}

.mainlogo {
    width: 225px;
    padding-top: 5px;
}

@media (min-width: 576px) {
.navbar-expand-sm .navbar-nav .nav-link {
    padding: 1em;
}
}

.navbg {
  background: #505050;
  border-bottom: 5px solid #bc252d;
  height: 58px;
}

.nav-link:hover {
    background: #373737;
}

#footer {
    padding: 20px 0 35px;
}

.col.app a img {
   padding-bottom: 20px;
}


.ui-widget-overlay {
    background: #000;
}

.ui-widget {
    font-size: inherit;
}
