body {
    font-family:Eau;
    font-size:12px;
    padding:0;
    margin:0;
}
th, td {
    text-align:left;
    font-family:arial;
}
.header {
    height:42px;
    background:#505050;
    border-bottom:3px solid #bd262f;
    text-align:center;
}
.header h1 {
    padding:0;
    margin:0;
    font-size:24px;
    color:#fff;
    padding:5px 0 0 0;
}
@font-face {
    font-family: 'Eau';
    src: url('../fonts/eau_sans_book_osf-webfont.eot');
    src: url('../fonts/eau_sans_book_osf-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/eau_sans_book_osf-webfont.woff') format('woff'),
        url('../fonts/eau_sans_book_osf-webfont.ttf') format('truetype'),
        url('../fonts/eau_sans_book_osf-webfont.svg#EauSansBoldOldstyledFigures') format('svg');
    font-weight: normal;
    font-style: normal;

}
.container {
    width:1250px;
    margin:10px auto 0 auto;
}
.loggedInAs {
    text-align:right;
    color:#b0b0b0;
    font-size:12px;
    font-weight:normal;
    margin-bottom:5px;
}

.left {
    float:left;
    width:300px;
    margin-right:30px;
}
.right {
    float:left;
    width:920px;
}

h2 {
    font-size:24px;
    font-weight:normal;
    margin:10px 0 10px 0;
}
h2 span {
    font-family:arial;
}
.important {
    background:#ffedef;
    padding:5px;
    color:#f25057;
    border:1px solid #f25057;
    font-size:13px;
}
