body, html {

	background-color:#FFF;

	padding:0px;

	font-family:Verdana;

	font-size:11px;

	color:000000;
	
	margin: 0px;

}

a:link {

	color: #EB1C2D;

	text-decoration: none;

}

a:visited	{

	color: #EB1C2D;

	text-decoration: none;

}

a:hover	{

	color: #000000;

	text-decoration: none;

}

a:active {

	color: #EB1C2D;

	text-decoration: none;

}

form {
	display:			inline;
}

table, tr, td {

	font-family: Verdana;

	font-size: 11px;

	color: 000000;

    }
   
#header {
	background-color: #4A4A4A;
}

#nav {
	height:					29px;
	background-color:       #4A4A4A;
	overflow:				hidden;
	margin-top:				50px;
	float:					right;
}

#nav1{
    top: 100px;
	width:					95px;
	height:					29px;
	float:					left;
	display:				block;
	background:				transparent url(images/btn_home.gif) 0px 0px no-repeat;
	margin-left:			3px;
}
#nav1:hover, #nav1.selected:hover{
	background-position:	0px -29px;	
}

#nav1.selected{
	background:				transparent url(images/btn_home.gif) 0px -29px no-repeat; 
}

#nav2{
    top: 100px;
	width:					93px;
	height:					29px;
	float:					left;
	display:				block;
	background:				transparent url(images/btn_products.gif) 0px 0px no-repeat;
	margin-left:			3px;
}
#nav2:hover, #nav2.selected:hover{
	background-position:	0px -29px;	
}

#nav2.selected{
	background:				transparent url(images/btn_products.gif) 0px -29px no-repeat; 
}

#nav3{
    top: 100px;
	width:					93px;
	height:					29px;
	float:					left;
	display:				block;
	background:				transparent url(images/btn_import.gif) 0px 0px no-repeat;
	margin-left:			3px;
}
#nav3:hover, #nav3.selected:hover{
	background-position:	0px -29px;	
}

#nav3.selected{
	background:				transparent url(images/btn_import.gif) 0px -29px no-repeat; 
}

#nav4{
    top: 100px;
	width:					93px;
	height:					29px;
	float:					left;
	display:				block;
	background:				transparent url(images/btn_users.gif) 0px 0px no-repeat;
	margin-left:			3px;
}
#nav4:hover, #nav4.selected:hover{
	background-position:	0px -29px;	
}

#nav4.selected{
	background:				transparent url(images/btn_users.gif) 0px -29px no-repeat; 
}

#nav5{
    top: 100px;
	width:					92px;
	height:					30px;
	float:					left;
	display:				block;
	background:				transparent url(images/btn_orders.gif) 0px 0px no-repeat;
	margin-left:			3px;
}
#nav5:hover, #nav4.selected:hover{
	background-position:	0px -30px;	
}

#nav5.selected{
	background:				transparent url(images/btn_orders.gif) 0px -30px no-repeat; 
}

#left {
	width:					210px;
	padding-left:			20px;

}

#right {
	margin-left:			10px;
	padding-left:			20px;
	width:					100%;
	padding-bottom:			10px;
}

.title {
	background:				url(images/title_bg.gif) 0px 0px repeat-x;
	width:					200px;
	font-weight:			bold;
	font-size:				12px;
	margin:					0px;

}

.title p {
    background:				transparent url(images/title_r.gif) 0px 0px no-repeat;
	background-position:    right;
	width:					100%;
	color:					#FFFFFF;
	font-weight:			bold;
	height:					20px;
	margin-left:			3px;
}

#content {
	width:					510px;
	margin-top:				10px;
}

.red {
	color: #D62C3C;
}

#panel {
	background:				transparent url(images/leftbtm.gif) no-repeat bottom right;
}

input, select, textarea {
	font-family:			Verdana;
	font-size:				10px;
	font-weight:			none;
}
input {
	padding-left:			2px;
}

input.smlGry {
	font-size:				10px;
	color:					grey;
	width:					150px;
}

.categoryTitle {
	background:				#E1E1E1;
	padding:				3px;
	font-weight:			bold;
	margin:					0px;
	margin-top:				5px;

}

.tdCell {
	background: #EFEFEF;
	width:150px;
	border-right:1px solid #A2A2A2;
	padding:5px;
}

.tdDark {
	background: #EFEFEF;
	border-bottom: 1px solid #A2A2A2;
	padding:	5px;
	font-size:	10px;
}

.btn {
	width: 150px;
	text-align: right;
}

.okMsg {
	font-weight: bold;
	color: #32b441;
}

.errMsg {
	font-weight: bold;
	color: #FF0000;
}

.smlSuccess {
	color:					#018e08;
	font-weight:			bold;
}

.smlError {
	color:					#bd0000;
	font-weight:			bold;
}

.view-order td.td {
  width:					120px;
	background:			#ececec;
	border-right:		1px #d6d6d6 solid;
	border-bottom:	1px #d6d6d6 solid;
}

.orders {
  height:              250px;
	overflow-y:					 scroll;
}

#overlay {
  /* Mozilla ignores crazy MS image filters, so it will skip the following */
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/overlay.png');
		position: absolute;  z-index:500; width:100%; height:100%;
}

/* IE ignores styles with [attributes], so it will skip the following. */
#overlay[id] {
  background-image: url(images/overlay.png);
	width:100%;
	height:100%;
}

#box {
	background: transparent;
	height: 480px;
	width:  567px;
	z-index: 1000;
	position: absolute;
}

#boxLoading {
	position: absolute;
	top: 195px;
	left: 264px;
	display: none;
}

#boxContent {
	background: #fff;
	margin-left: 1px;
	width: 556px;
	height: 100%;
	padding: 10px 0px 0px 10px;
}

* html #boxContent {
	width: 566px;
}

.close {
	position: absolute;
	width: 14px;
	height: 14px;
	left: 547px;
	top: 31px;
	cursor: pointer;
	display:block;
	z-index: 1001;
	background: url(images/closebtn.gif);
}

.filter {
    border: 1px solid #b9b9b9;
    height: 94px;
    width: 395px;
}
.filter span {
    background: #b9b9b9;
    color: #fff;
    padding: 5px;
    display: block;
    font-weight: bold;
}
.filter .bg {
    background: #f0f1f1 url('images/filter_bg.gif') repeat-x bottom;
    padding: 8px;
}