body {
    margin: 0;
    padding: 0;
    margin: auto;
}

body, td, th, div, span {
    font-size: 12px;
    font-family: Arial;
}

.cb {
    clear: both;
}
.fr {
    float: right !important;
}
.fl {
    float: left !important;
}

.error {
    color: red;
    font-weight: bold;
}

input[type=text] {
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    color: #000;
    font: 12px arial;
    height: 20px;
    margin: 0pt;
    padding: 0px 8px 0pt 6px;
    vertical-align: top;
    width: 130px;
}
input[type=submit] {
    background: transparent url('../images/button_bg.png') repeat-x; 
    border: none;
    height: 28px;
    color: #fff;
    -moz-border-radius: 5px;
    width: auto;
    border: 1px solid #178fd3 !important;
}

label {
    display: inline;
}

a.button {
    background: transparent url('../images/button_bg_a.png') no-repeat scroll top right;
    color: #fff;
    display: block;
    float: left;
    font: bold 12px arial;
    height: 28px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('../images/button_bg_span.png') no-repeat;
    display: block;
    line-height: 19px;
    padding: 4px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 5px 0 4px 18px; /* push text down 1px */
}
input.button {
    background: transparent url('../images/button_bg_span.png') repeat-x;
    width: 100px;
}
#container {
    width: 500px;
    height: 235px;
    margin: auto;
    background: #fff url('../images/logo_sml.jpg') bottom right no-repeat;  
}

#inner-container {
    padding: 10px 0 0 2px;
}

th {
    vertical-align: top;
}

#login-panel {
    width: 500px;
    height: 150px;
    background: #f5f5f5;
    color: #5f5f5f;
}
#login-panel .content {
    padding: 15px;
    width: 500px;
}
#login-panel table {
    margin-top: 15px;
    width: 100%;
}
#login-panel th {
    width: 80px;
    padding-bottom: 10px;
    text-align: left;
}
#login-panel td {
    padding-bottom: 10px;
}

.error {
    position: relative;
}