body {
    margin: 0;
    padding: 0;
    background: #fff;
}

body, div, td, th, span, input, textarea, select {
    font-size: 12px;
    font-family: Arial;
    text-align: left;
}
th {
    font-weight: normal;
    vertical-align: top;
    padding: 10px;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
a {
    color: #389cc4;
    outline: none;
    text-decoration: none;
}
a:visited {
    color: #389cc4;
}
img {
    border: 0;
}

input.input {
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    color: #000;
    font: 12px arial;
    height: 20px;
    margin: 0px;
    padding: 3px 5px 3px 5px;
    vertical-align: top;
    width: 200px;
}
select {
    height: 30px;
    padding: 5px;
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    color: #000;
    font: 12px arial;
    margin: 0;
    min-width: 150px;
}
option {
    padding: 10px;
}
input.input.small {
    width: 30px;
}
input.input.medium {
    width: 60px;
}
input.input.default {
    color: #b6b6b6;
}
.select-date select {
    min-width: 0px;
}
.select-date img {
    cursor: pointer;
    float: right;
    margin-top: 4px;
    margin-left: 4px;
}
.success {
    background: #e3f4c0 url('../images/success_tick.png') 10px 9px no-repeat;
    padding: 10px 10px 10px 40px;
    max-width: 600px;
    margin-bottom: 20px;
    border: 1px solid #c4dec9;
    color: #474c46;
}
.error {
    background: #f8dad8 url('../images/error_cross.png') 10px 9px no-repeat;
    padding: 10px 10px 10px 35px;
    max-width: 600px;
    margin-bottom: 20px;
    border: 1px solid #cbb1bd; 
    color: #474c46;
}
.form-error {
    background: #f8dad8;
    padding: 5px;
    border: 1px solid #cbb1bd; 
}
.submit {
    background: transparent url('../images/button_bg.png') repeat-x; 
    border: none;
    height: 28px;
    color: #fff;
    -moz-border-radius: 5px;
    padding: 0 10px;
}
input[type=submit] {
    background: transparent url('../images/button_bg.png') repeat-x; 
    border: none;
    height: 28px;
    color: #fff;
    -moz-border-radius: 5px;
    width: auto;
    border: 1px solid #178fd3 !important;
}

a.button {
    background: transparent url('../images/button_bg_a.png') no-repeat scroll top right;
    color: #fff;
    display: block;
    float: left;
    font: bold 12px arial;
    height: 28px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}
a.button span {
    background: transparent url('../images/button_bg_span.png') no-repeat;
    display: block;
    line-height: 19px;
    padding: 4px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    outline: none; /* hide dotted outline in Firefox */
}
a.button:active span {
    background-position: bottom left;
    padding: 5px 0 4px 18px; /* push text down 1px */
}

.sml-button {
    background: transparent url('../images/button_sml_bg.png') repeat-x;
    display: block;
    height: 15px;
    color: #fff;
    text-decoration: none;
    font: bold 11px arial;
    border: 0;
    padding: 0 5px 5px 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    outline: none;
}

.sml-button:active {
    background: transparent url('../images/button_sml_active_bg.png') repeat-x;
}

/* Shortcuts */
.cb {
    clear: both !important;
}
.fl {
    float: left !important;
}
.fr {
    float: right !important;
}
.hide {
    display: none;
}
.btn {
    cursor: pointer;
}

h2 {
    color: #5f5f5f;
    font-size: 18px;
    margin-bottom: 7px;
}
h3 {
    color: #666;
}

.pager {
    margin: 10px 0;
    float: right;
}
.pager ul {
    padding: 0;
    margin: 0;
}
.pager li {
    float: left;
    list-style-type: none;
    padding: 0 2px;
}
.pager a, .pager li span {
    background: transparent url('../images/breadcrumb_bg.png') repeat-x;
    padding: 5px;
    -moz-border-radius: 4px;
    color: #fff;
    display: block;
}
.pager a:hover, .pager li span {
    background: #39bdf0 !important;
}