.title {
    height: 32px;
    margin-top: 1px;
    background: #f4f4f4;
    padding: 8px 0 0 20px;
}
.title h1 {
    color: #5f5f5f;
    font-size: 18px;
    margin-right: 15px;
}
ul.sub-nav {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 20px;
    float: left;
}
ul.sub-nav li {
    float: left;
    padding: 0 5px;
}
ul.sub-nav li:first-child {
    padding-left: 0;
}
ul.sub-nav a {
    display: block;
    background: #f8f8f8;
    border: 1px solid #f2f2f2;
    padding: 5px;
    color: #000;
    -moz-border-radius: 5px;
    min-width: 50px;
    text-align: center;
}
ul.sub-nav a:hover, ul.sub-nav a.active {
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
}
#launch-website-login-as {
    display: none;
}

/**
 * Top Navigation 
*/
#top-navigation {
    height: 36px;
    background: transparent url('../images/top_nav_bg.png') repeat-x;
    font-size: 14px;
}
#top-navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: left;
}
#top-navigation li {
    float: left;
}
#top-navigation a {
    color: #e5e5e5;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}
#top-navigation li:hover a {
    color: #6e6663;
    background: #f0f0f0;
    border-left: 1px solid #f5f5f5;
    padding: 10px 14px 11px 15px;
}
/* Rollover */
#top-navigation li ul {
    display: none;
    position: absolute;
    border-right: 1px solid #979797;
    border-bottom: 1px solid #979797;
    box-shadow: 3px 3px 3px #888;
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    z-index: 100;
}
#top-navigation li ul li {
    float: none;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    min-width: 120px;
}
#top-navigation li:hover ul {
    display: block; 
    background: #fff;
}
#top-navigation li ul li a:hover {
    padding: 4px 0px;
}
#top-navigation li ul li a:hover span {
    border-top: 1px solid #a8d8eb;
    border-bottom: 1px solid #a8d8eb;
    padding: 5px 14px 6px 15px;
    display: block;
    background: #e7eff3;
}
#updates {
    border-left: 1px solid #333030;
    height: 36px;
    float: left;
}
#updates .inner {
    border-left: 1px solid #8a8280;
    height: 36px;
    padding: 0 0 0 20px;
}
#updates a {
    padding-top: 10px;
    display: block;
    color: #fff;
}
#orders-today {
    padding-top: 7px;
    float: left;
}
#orders-today a {
    background: transparent url('../images/orders_today_icon.png') no-repeat;
    padding: 3px 0 0 25px;
    height: 20px;
}
#users-online {
    padding-top: 7px;
    float: left;
    margin-left: 20px;
}
#users-online a {
    background: transparent url('../images/users_online_icon.png') no-repeat;
    padding: 3px 0 0 25px;
    height: 20px;
}
#update-website {
    padding-top: 7px;
    float: left;
    margin-left: 20px;
}
#update-website a {
    background: transparent url('../images/update_website_icon.png') no-repeat;
    padding: 3px 0 0 25px;
    height: 20px;
}




/**
 * Toolbar 
*/
#toolbar {
    height: 56px;
    background: transparent url('../images/toolbar_bg.png') repeat-x;
    clear: both;
}
#toolbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left !important;
}
#toolbar li {
    float: left;
    padding: 0 20px;
    background: transparent url('../images/toolbar_sep.jpg') right center no-repeat;
}
#toolbar li:last-child {
    background: none;
}
#toolbar .quick-search {
    float: right;
    padding: 15px 20px 0 0;
}
#toolbar .search-input {
    width: 200px;
}

/**
 * Content
*/
#content-container {

}
#content {
    padding: 20px
}



/**
 * Listing tables
*/
.list-table table {
    border: 1px solid #cacacb;
}
.list-table th {
    text-align: left;
    color: #222;
    background: #f4f4f4 url('../images/th_bg.gif') repeat-x bottom;
    padding: 11px 13px;
    border-right: 1px solid #fff;
    border-left: 1px solid #cacacb;
}
.list-table th a {
    display: block;
    color: #000;
}
.list-table th a.down {
    background: transparent url(../images/arrow_down.png) right no-repeat;
}
.list-table th a.up {
    background: transparent url(../images/arrow_up.png) right no-repeat;
}
.list-table th:first-child {
    border-left: 0;
}
.list-table td {
    padding: 11px 13px;
}
.list-table tbody td:first-child {
    border-left: 1px solid #fff;
}
.list-table tbody td:last-child {
    border-right: 1px solid #fff;
}
.list-table tbody tr:nth-child(even) { 
    background: #f8f8f8;
}


/**
 * Categories
*/
ul.breadcrumb, ul.breadcrumb2 {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
ul.breadcrumb2 li {
    float: left;
}
ul.breadcrumb li {
    float: left;
    background: transparent url('../images/breadcrumb_bg.png') repeat-x;
}
ul.breadcrumb li a {
    color: #fff;
    background: transparent url('../images/breadcrumb_seperator.png') right no-repeat;
    display: block;
    padding: 7px 30px 7px 15px;
}

ul.breadcrumb li.active a, ul.breadcrumb li a:hover {
    text-decoration: underline;
}
ul.breadcrumb li:last-child a {
    background: none;
}
ul.breadcrumb li:after {
    padding: 0 5px;
}
ul.breadcrumb li:first-child {
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}
ul.breadcrumb li:last-child {
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;
}
#sortable-categories {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#sortable-categories li {
    width: 270px;
    clear: both;
}
#sortable-categories div.li {
    background: #f4f4f3 url('../images/sort_category_bg.png') bottom repeat-x;
    border: 1px solid #e5e5e5;
    width: 268px;
    display: block;
    color: #236f8d;
    margin-bottom: 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#sortable-categories .active div.li {
    background:#f4f4f3;
}
#categories div.li.hidden {
    -moz-opacity:.50; filter:alpha(opacity=50); opacity:.50;
}
#sortable-categories div.content {
    float: left;
    width: 238px;
    padding-bottom: 7px;
}
#sortable-categories a {
    color: #236f8d;
    text-decoration: none;
}
#sortable-categories a:hover {
    text-decoration: underline;
}
#sortable-categories span.icon {
    display: block;
    width: 20px;
    height: 28px;
    cursor: move;
    float: left;
    padding: 0 0 0 10px;
    background: transparent url('../images/sort_handle.png') center center no-repeat;
}
#sortable-categories span.category {
    display: block;
    float: left;
    padding: 6px 0 0 0;
}
#sortable-categories span.category span.saving {
    margin-left: 5px;
    font-size: 10px;
    color: #000;
}

#action-icons {
    margin: 2px 0 0 0;
    padding: 10px 15px 0 15px;
    display: none;
    height: 30px;
}
#action-icons img {
    cursor: pointer;
}

.add-category-form {
    background: #f4f4f3;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px 15px 10px 10px;
    color: #5f5f5f;
    display: none;
    border: 1px solid #e5e5e5;
}

#categories h2 {
    display: inline;
    margin-right: 10px;
}

#edit-part h2 {
    font-size: 34px;
    float: left;
}
#edit-part ul.nav {
    float: left;
    list-style-type: none;
    margin: 5px 0 0 5px;
    padding: 0 0 0 10px;
    border-left: 1px solid #e8e8e8;
}
#edit-part ul.nav li {
    
}
#edit-part ul.nav a.active {
    font-weight:bold;
}
#edit-part ul.nav a:hover {
    text-decoration: underline;
}

/**
 * Parts
*/
#search-loader, #search-success, #search-error {
    padding: 6px 0 0 8px;
}

/**
 * Info table
*/
.info-table th, .info-table td {
    padding: 8px;
}
.info-table th {
    background: #f0f0f1;
    border-bottom: 1px solid #cacacb;
}
.info-table td {
    padding-right: 20px;
}

.filter {
    background: #f4f4f4 url('../images/th_bg.gif') repeat-x bottom;
    padding: 20px; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#order-details {
    display: none;
}

.form input[type=text] {
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    color: #000;
    font: 12px arial;
    height: 20px;
    margin: 0px;
    padding: 3px 5px 3px 5px;
    vertical-align: top;
    width: 200px;
}
.form label {
    font-weight: normal;
}
.form th {
    width: 120px;
}

#tabs .error-icon {
    padding: 10px 10px 0 0;
}

table.data {
    border: 1px dotted #ccc;
    padding: 10px;
}
table.data th {
    font-weight: bold;
}
table.data th, table.data td {
    padding: 5px 10px 5px 0px;
}

.ui-draggable-dragging {
    z-index:100 !important;
}
.tab-heading{
    padding:7px 5px;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
}
.custom-tab{
    padding: 0.2em;
}
.box-left,.box-left-margin{
    float:left;
}
.box-left-margin{
    margin-left: 50px;
}
input.small-input-box{
    width:50px;
}
.input-radio-td{
    padding:10px 0px;
}
.tab-content{
    padding: 1em 1.4em;
}
.box-top-container{margin-bottom:15px;}